* {
    margin: 0;
    padding: 0;
    top: 0;
    box-sizing: border-box;
    color: aliceblue;
}

.conteiner {
    background: url("3418448.jpg") repeat fixed;
    display: grid;
    grid-template-columns: auto 80%;
    grid-template-rows: 15% auto 5%;
    min-height: 100vh; /* Garante que o contêiner ocupe toda a altura da viewport */
}

header {
    order: 1;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: end;
    padding: 5px;
    
}

nav {
    order: 2;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: end;
    color: black;
}
.icone {
    margin-left: auto;
    display: none;
    margin-right: 30px;
    cursor: pointer;
}
.icone:hover {
    scale: 1.2;
    transition: .3s;
}

.theme {
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}
.theme i:hover {
    scale: 1.1;
    transition: .3s;
}

.links {
    width: 80%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.links a {
    font-size: 16px;
    font-weight: 500;
    text-decoration: none;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 35%;
}
.links a:hover {
    border-bottom: 2px solid aliceblue;
    scale: 1.1;
}

main {
    order: 3;
    grid-column-start: 1;
    grid-column-end: 3;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
}

footer {
    order: 4;
    grid-column-start: 1;
    grid-column-end: 3;
    align-self: end; /* Alinha o footer à parte inferior do grid */
    background-color: transparent;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media screen and (max-width: 481px) {
    .icone {
        display: flex;
    }
    .links {
        display: none;
        flex-direction: column;
        justify-content: center;
        width: 100%;
    }
    .links a {
        height: 25%;
    }
    .theme {
        display: none;
    }
}  
